<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Django Web Page</h1>
    <hr />
    {% for post in posts %}
        <div>
            
            <p>published : {{ post.published_date }}</p>
            <h1><a href="#">{{ post.title }}</a></h1>
            <p>{{ post.text | linebreaksbr }}</p>
            <hr />
        </div>
    {% endfor %}
</div>
</body>
</html>